{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "quote-props": ["warn", "consistent-as-needed"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules/@types"]
      }
    }
  }
}
